@media only screen and (max-width: 1399px){
    /* body{
        min-width: 1399px;
        width: 100%;
    } */
    
   }
@media only screen and (max-width: 1199px){
    .container{
        max-width: 980px;

    }
    body{
        min-width: 1199px;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 991px){

}
@media only screen and (max-width: 767px){

}
@media only screen and (max-width: 575px){

}