.container {
    height: 1500px;
    margin: 20px 10px auto;
}

.box-wrap {
    position: relative;
    margin: 30px 0;
    height: 1000px;
    background-color: aqua;
}



.box-home-1 {
    width: 2500px;
    height: 100px;
    background: green;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    position: absolute;
    top: 900px;
    margin: auto 20px;
}


.box-home-2 {
    width: 250px;
    height: 300px;
    background: rgb(76, 54, 156);
    position: absolute;
    top: 600px;
    left: 750px;
}

.box-home-3 {
    width: 0px;
    height: 250px;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-bottom: 150px solid rgb(56, 39, 119);
    position: absolute;
    top: 200px;
    left: 750px;
    z-index: 3;
}

/* Для дома */
.box-home-16 {
    width: 20px;
    height: 150px;
    background: #f38c16;
    border: 1px solid black;
    position: absolute;
    bottom: 415px;
    left: 780px;
}

.box-home-17 {
    width: 76px;
    height: 170px;
    background: rgb(4, 4, 51);
    position: absolute;
    bottom: 100px;
    left: 781px;
}

.box-home-18 {
    width: 15px;
    height: 15px;
    background: #3803fa;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    bottom: 176px;
    left: 836px;
    z-index: 4;
}

.box-home-19 {
    width: 40px;
    height: 80px;
    background: #88d6ee;
    border: 4px solid black;
    position: absolute;
    top: 698px;
    left: 890px;
}

.box-home-20 {
    width: 40px;
    height: 40px;
    background: #88d6ee;
    border: 4px solid black;
    position: absolute;
    top: 698px;
    left: 934px;
    /* z-index: 5; */

}

.box-home-21 {
    width: 40px;
    height: 40px;
    background: #88d6ee;
    border: 4px solid black;
    position: absolute;
    top: 738px;
    left: 934px;
}


/* Забор */
.box-home-4 {
    width: 20px;
    height: 150px;
    background: rgb(236, 40, 210);
    position: absolute;
    bottom: 319px;
    left: 1009px;
}

.box-home-5 {
    width: 20px;
    height: 150px;
    background: rgb(236, 40, 210);
    position: absolute;
    bottom: 100px;
    left: 1025px;
}

.box-home-6 {
    width: 20px;
    height: 150px;
    background: rgb(236, 40, 210);
    position: absolute;
    bottom: 100px;
    left: 1050px;
}

.box-home-7 {
    width: 20px;
    height: 150px;
    background: rgb(236, 40, 210);
    position: absolute;
    bottom: 100px;
    left: 1075px;
}

.box-home-8 {
    width: 20px;
    height: 150px;
    background: rgb(236, 40, 210);
    position: absolute;
    bottom: 100px;
    left: 1100px;
}

.box-home-9 {
    width: 20px;
    height: 150px;
    background: rgb(236, 40, 210);
    position: absolute;
    bottom: 100px;
    left: 1125px;
}

.box-home-10 {
    width: 20px;
    height: 150px;
    background: rgb(236, 40, 210);
    position: absolute;
    bottom: 100px;
    left: 1150px;
}

.box-home-11 {
    width: 20px;
    height: 150px;
    background: rgb(236, 40, 210);
    position: absolute;
    bottom: 100px;
    left: 1175px;
}

/* Елка */
.box-home-12 {
    width: 20px;
    height: 200px;
    background: rgb(61, 34, 8);
    position: absolute;
    bottom: 100px;
    left: 1200px;
}

.box-home-13 {
    
    width: 0px;
    height: 0px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid rgb(8, 85, 33);
    position: absolute;
    bottom: 300px;
    right: 1210px;
}

.box-home-14 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid rgb(8, 85, 33);
    position: absolute;
    bottom: 370px;
    right: 1210px;
}

.box-home-15 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid rgb(8, 85, 33);
    position: absolute;
    bottom: 445px;
    right: 1210px;
}

/* Для дома */
.box-home-16 {
    width: 20px;
    height: 150px;
    background: #f38c16;
    border: 1px solid black;
    position: absolute;
    bottom: 415px;
    left: 780px;
}

.box-home-17 {
    width: 76px;
    height: 170px;
    background: rgb(4, 4, 51);
    position: absolute;
    bottom: 100px;
    left: 781px;
}

.box-home-18 {
    width: 15px;
    height: 15px;
    background: #3803fa;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    bottom: 176px;
    left: 836px;
    z-index: 4;
}

.box-home-19 {
    width: 40px;
    height: 80px;
    background: #88d6ee;
    border: 4px solid black;
    position: absolute;
    top: 698px;
    left: 890px;
}

.box-home-20 {
    width: 40px;
    height: 40px;
    background: #88d6ee;
    border: 4px solid black;
    position: absolute;
    top: 698px;
    left: 934px;
    /* z-index: 5; */

}

.box-home-21 {
    width: 40px;
    height: 40px;
    background: #88d6ee;
    border: 4px solid black;
    position: absolute;
    top: 738px;
    left: 934px;
}

/* Солнышко */
.box__sun {
    width: 0;
    height: 0;
    border-top: 300px solid #fffb00;
    border-left: 300px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}

/* Тучки */
.box-home-22 {
    width: 218px;
    height: 92px;
    background: linear-gradient(to bottom right, blue, #a5bbd8);
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 88px / 40px;
    position: absolute;
    top: 67px;
    left: 54px;
}

.box-home-23 {
    width: 168px;
    height: 92px;
    background: linear-gradient(to bottom right, blue, #a5bbd8);
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 88px / 40px;
    position: absolute;
    top: 138px;
    left: 141px;
}

.box-home-24 {
    width: 168px;
    height: 92px;
    background: linear-gradient(to bottom right, blue, #a5bbd8);
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 88px / 40px;
    position: absolute;
    top: 14px;
    left: 141px;
}

.box-home-25 {
    width: 168px;
    height: 92px;
    background: linear-gradient(to bottom right, blue, #a5bbd8);
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 88px / 40px;
    position: absolute;
    top: 81px;
    left: 247px;
}

.box-home-26 {
    width: 168px;
    height: 92px;
    background: linear-gradient(to bottom right, blue, #a5bbd8);
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 88px / 40px;
    position: absolute;
    top: 187px;
    left: 510px;
}

.box-home-27 {
    width: 168px;
    height: 92px;
    background: linear-gradient(to bottom right, blue, #a5bbd8);
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 88px / 40px;
    position: absolute;
    top: 117px;
    left: 510px;
}

.box-home-28 {
    width: 168px;
    height: 92px;
    background: linear-gradient(to bottom right, blue, #a5bbd8);
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 88px / 40px;
    position: absolute;
    top: 153px;
    left: 579px;
}

/* Радуга */
.box-home-hr {
    width: 580px;
    height: 165px;
    background: radial-gradient(ellipse at 25% 100%, rgba(255, 255, 255, 0) 30%, #5630C3 30%, #5630C3, #0225F3, #2AC3FC, #41C903, #FEF506, #FE9307, #FE080D 70%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    position: absolute;
    top: 262px;
    left: 1px;
    border: none;
}