@import url(/css/reset.css);
.header{
    background-color:rgba(0, 0, 0, 1) 
    }
.header__logo{
    margin-left: 115.28px;
    margin-top: 22.46px;
}    
.header__menu{
    margin-top: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.main-banner{
    background-image: url(/img/banner.png);
    background-size:cover
}
.main-banner__logo{
    margin-top: 306px;

}
.main-banner__title{
    margin-top: 433.88px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    }
.main-banner__dsc{
    margin-top: 699px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #fff;
}
.main-banner__btn{
    margin-top: 783px;
    background-color: #EC7979;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.contacts-sm{
    background-color:rgba(248, 239, 239, 1);
}
.contacts-sm__title{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
.contacts-sm__dsc{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
.main-info{
    background-color: #E5E5E5;
}
.main-info__bookmarks__tab{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.main-info__title{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
.main-info__bookmarks__text{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    
}
.main-info__btn{
    background-color: rgba(236, 121, 121, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #ffffff;
}
.benefits__title{
    margin: 10px 15px 10px 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}
.benefits__dsc{
    font-family: 'Raleway', sans-serif;
    font-size: 15px; 
}
.benefits__list__item__name{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
.benefits__list__item__dsc{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.price__name{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;   
}
.price_dsc{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
.review__title{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}
.reviews__dsc .reviews__quote__item .reviews__quote__name__post .contacts__dsc{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
.reviews__quote__name{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
.examples{
    background-image: url(/img/desing.png);
}
.examples__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #fff;
}
.examples__dsc{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #fff;
}
.examples__btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.contacts{
    background-color: #E5E5E5;
}
.contacts__title{
    margin-top: 4712px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}
.contacts__btn{
    margin-top: 414px;
    background-color: #EC7979;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;
}
.footer{
    margin-top: 5384px;
    background-color: black;
}
.footer__autor{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #fff;
}